#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

h1
{
color: blue;
font-family: 'Indie Flower', cursive;
font-family: 'Patrick Hand', cursive;
text-shadow: 2px 2px #00ccff;
}
body{
    background-image:url("max.jpg");
}